@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
section { 
    max-width: 1400px;
    margin-left: 60px;
    margin-left: 60px;
    margin-top: 0%;
    margin-bottom: 50px;
}

/*-------------------HEADER---------------*/
.HEADERSTAR {
    background-image: 
    url("../resources/Banner\ Image.png");
   width: 1300px;
   height: 600px;
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 0;
}

.shopnow{
    width: 100px;
    height: 30px;
    font size: 30px;
    margin-top: 50px;
    margin-left: 1100px;
    margin-bottom: 10px;
    color: #FFF;
    border-radius: 5px;
    background-color: red}

.hcon{ text-align: center;
    padding-top: 90px;
    font-family: 'Abril Fatface', serif;
    font-size:40px;
    text-shadow: 5px 6px 9px rgb(1, 1, 1);
justify-content: center;}

/*------------------new section 60%OFF------------------------------*/

.off {
    background-image: url('../resources/New\ Year\ Photo.png');
    background-repeat: no-repeat;
   margin-left: 100px;
   max-width: 1000px;
    height: 500px;
    padding-left: 0;
}

.offh1 {font-size: 80px;
    background-position: left bottom;
    color: #ff0000;
    font-family: 'Bungee Spice', sans-serif;
    text-align: left;
    padding: 60px 10px 0 50px;
    padding-bottom: 0;
    margin: 0;
    text-shadow: 5px 5px 5px rgb(8, 0, 0);
}

.offh6 {
    text-align: center left ;
    text-align: top;
    font-size:50px ;
    text-shadow: 5px 5px 5px rgb(5, 1, 1);
    color: #fb0404f6;
    font-family: Inter;
   padding-left: 20px;
    margin-right: 20px;
}

.off h6 span {
    font-size: 90px;
    text-align: left;
    padding: 0;
}
/*----------------------welcom ---------------*/

.welcomparty{background-image:url('../resources/Vectorrr.png') ;
background-repeat: no-repeat;
border-radius: 20px;

width: 1400px;
height: 600px;}
.partyleft{width: 40%;
padding-left: 30px;}

.partycon{display: flex ;
justify-content: space-between;}

.pasrtyh1{color: rgb(255, 255, 255);
font-size: 90px;
padding-bottom: 0%;
}
.partyp{color: wheat;
padding-top: 0;}
.join{background-color: #070211;
border-radius: 9px;
color: white;
width: 100px;
height: 40px;
font-family: Arial, Helvetica, sans-serif;
background-shadow: ;}


.partyright{width: 30%;
margin-right: 50px;
padding-top: 60px;}

/*------------------------EID OFFER------------------------*/
.EOD{ 
  
    display: flex;
margin: 70px;}
#lb {
    float: left;
    width: 40%;
}
#mb {
    float: left;
    width: 30%;
}
#rb {
    float: right;
    width: 25%;
    font-size: 40px;
    padding: 30px;
   
    text-align: center;
}
.edul{font-size: 40px;
text-align: center;}
.comming{font-size: 60px;
color: rgb(235, 0, 0);}

/*_____________________product_________________________________*/

.ln1 {
    display: flex
}

.ln2 {
    display: flex
}

.product {
    margin: 10px;
}

.product:hover {
    transform: scale(1.1)
}
.GIFTS {

    max-width: 900px;
    line-height: 0;
    font-family: 'Sora', sans-serif;
    font-size: 50px;
}

.GIFTS h6 {
    color: #F00;
    font-size: 29px;

    padding-bottom: 5px;
}

.GIFTS h3 {
    color: #070211;
    font-size: 50px;
    padding-bottom: 0px;
    padding-top: 0;
    margin-top: 0px;
    margin-bottom: 0;
}

.GIFTS p {
    line-height: normal;
    max-width: 900px;
    color: rgba(7, 2, 17, 0.60);
}


/*___________________image section_______________________________*/


.SUBSCRIBE {
    padding: 80px;
    max-height: 700px;
    text-align: center;
    border-radius: 10px;
    background: rgba(186, 168, 114, 0.947);
    font-family: 'Sora', sans-serif;
    justify-content: center;
}

form {
    
    width: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

form button {
    background-color: #F00;
    color: #FFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*  -------------------------------------footer-----------------------------------        */
footer {
    background-color: #070211;
    color: #FFF;
    max-width: 1420px;
    max-height: 1200px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 90px;
    padding-bottom: 100px;
    padding-left: 40PX;
    padding-right: 40px;
}

.addres {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
hr.new1 {
    border-top: 0.2px dotted rgb(255, 255, 255) ;margin-bottom: 150px;}
.social {
    text-align: center;
}

.rights {
    display: flex;
    justify-content: space-between;
}

